<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {% comment %} {{ 'index.css' | asset_url | stylesheet_tag }} {% endcomment %}
  <link rel="stylesheet" href="https://localhost:8081/index.css">

  {{ content_for_header }}
</head>

<body class="template-password">
  <main role="main">
    {{ content_for_layout }}

    <h4 class="password__form-heading h4" id="password-modal-heading">{{ 'general.password_page.login_form_heading' | t }}</h4>
    {% form 'storefront_password' %}
      {%- if form.errors -%}
        <div class="password-form-message form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}
      <label for="Password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
      <div class="input-group password__input-group">
        <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn btn--narrow">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </span>
      </div>
    {% endform %}
    <p>{{ 'general.password_page.admin_link_html' | t }}</p>

  </main>


  <script src="https://localhost:8081/index.js" defer></script>
</body>
</html>
