{% include 'domains' %}

<!doctype html>
<html lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% comment %} {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %} {% endcomment %}

  <title>
    {% if petcomputer %}
    petcomputer
    {% else %}
    {{ shop.name }}
    {% endif %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  <style>
    {{ settings.type_header_font | font_face }}
    {{ settings.type_base_font | font_face }}
  </style>

  {% comment %} {{ 'index.css' | asset_url | stylesheet_tag }} {% endcomment %}
  <link rel="stylesheet" href="https://localhost:8081/index.css">

  {{ content_for_header }}
</head>

<body class="{% if petcomputer %}petcomputer {% endif %}template-password">
  <main role="main">
    {{ content_for_layout }}
  </main>

  {% comment %} <script src="{{ 'index.js' | asset_url }}" defer="defer"></script> {% endcomment %}
  <script src="https://localhost:8081/index.js" defer></script>
</body>
</html>
